@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    background-color: rgb(241 245 249);
    height: 100%;
  }

  body {
    height: 100%;
  }
}



@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .page-height {
    height: calc(var(--vh) - 5rem);
  }

  .game-page-height {
    height: calc(var(--vh) - 8vh - 5rem);
  }

  @media (max-height: 500px) {
    .page-height {
      height: calc(var(--vh) - 5rem);
    }

    .game-page-height {
      height: calc(var(--vh) - 8vh);
    }

    .keyboard-hidden {
      display: none;
    }
  }
}
