@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .page-height {
    height: calc(var(--vh) - 10vh);
  }

  .game-page-height {
    height: calc(var(--vh) - 20vh);
  }

  .sapin {
    transform: translate3d(0px, 0px, 0px);
  }

  @media (max-height: 500px) {
    .page-height {
      height: calc(100vh - 5rem);
    }

    .keyboard-hidden {
      display: none;
    }
  }
}
